.container {
    -fx-background-color: white;
}

.title-container, .tool-container {
    -fx-background-color: #4db2ec;
}

.title-container-dark, .button {
    -fx-background-color: #222222;
}

.button {
    -fx-background-color: #222222;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #4db2ec;
    -fx-text-fill: black;
}

.tab-pane {
    -fx-tab-min-height: 3em;
    -fx-tab-max-height: 3em;
    -fx-tab-min-width: 10.5em;
    -fx-tab-max-width: 10.5em;
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: #222222;
}

.tab:selected {
    -fx-background-color: #4db2ec;
}

.tab:selected .tab-label {
    -fx-text-fill: black;
}

.tab:hover {
    -fx-background-color: #4db2ec;
}

.tab:hover .tab-label {
    -fx-text-fill: black;
}

.tab:focused {
    -fx-focus-color: transparent;
}

.tab {
    -fx-padding: 0 30 0 30;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #222222;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
}

.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}