.container {
    -fx-background-color:  #6899D3;
}

.stub-container #button {
    -fx-background-color: #4284D3;
}

#text-field #password-field {
    -fx-prompt-text-fill: white;
}

#button {
    -fx-border-radius: 0px;
}